

.component {
  padding:5px;
  min-height:'150px';
}


.home { background-color:#a1e6bd}

.login  {  background-color:#ffaf6d} 

.protected  { background-color:#af9cf3}

.navbar { background-color:#a9cadb}   

.pagenotfound { background-color:#f3ff8b}   

.protectedroutewarning  { background-color:#ff8086}   

.componentTitle {
  font-weight:800;
}

.error {
  color:red;
}